.places {
  margin-top: 50px;
}
.places h1 {
  text-align: left;
  font-size: 30px;
}

.place-box {
  float: left;
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ff5a5f;
  border-radius: 4px;
}

.place-box:nth-child(2) {
  clear: left;
}

.place-box:nth-child(3) {
  clear: right;
}

.place-box:nth-child(4) {
  clear: left;
  margin: auto 25%;
}

.places h2 {
  font-size: 30px;
  text-align: center;
}
